<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Get, Post, Put y Delete</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">eCommerce</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Productos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/productos">Ver Productos</a>
                </li>
                <li>
                  <a class="dropdown-item active" href="/agregar"
                    >Agregar Productos</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/carrito">Carrito</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container py-5">
      <h1 class="text-center">Agregar Producto</h1>
      <div class="d-flex justify-content-center">
        <div class="col-12 col-md-6">
          <form
            id="add-product"
            method="POST"
            action="/api/productos"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
              />
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input
                type="number"
                class="form-control"
                id="precio"
                name="precio"
              />
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="number"
                class="form-control"
                id="stock"
                name="stock"
              />
            </div>
            <div class="mb-3">
              <label for="foto" class="form-label">Imagen</label>
              <input class="form-control" type="file" id="foto" name="foto" />
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
          </form>
        </div>
      </div>
    </div>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/script.js"></script>
  </body>
</html>
