form(id="add-product" method="POST" action="/productos" enctype="multipart/form-data")
    div.mb-3
        label(for="title" class="form-label") Nombre
        input(type="text" class="form-control" id="title" name="title")
    div.mb-3
        label(for="price" class="form-label") Precio
        input(type="number" class="form-control" id="price" name="price")
    div.mb-3
        label(for="Thumbnail" class="form-label") Imagen
        input(class="form-control" type="file" id="uploaded_file" name="uploaded_file")
    button(type="submit" class="btn btn-primary") Agregar
