<form
id="add-product"
method="POST"
action="/productos"
enctype="multipart/form-data"
>
<div class="mb-3">
    <label for="title" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="title" name="title" />
</div>
<div class="mb-3">
    <label for="price" class="form-label">Precio</label>
    <input
    type="number"
    class="form-control"
    id="price"
    name="price"
    />
</div>
<div class="mb-3">
    <label for="Thumbnail" class="form-label">Imagen</label>
    <input
    class="form-control"
    type="file"
    id="uploaded_file"
    name="uploaded_file"
    />
</div>
<button type="submit" class="btn btn-primary">Agregar</button>
</form>
