extends layouts/main-layout.pug
block content
    div.container.py-5
        h1.text-center Vista de Productos
        |
        div.d-flex.justify-content-center
            div.col-12.col-md-6
                table.table.table-dark.table-striped
                    thead
                        tr
                            th(scope='col') Nombre
                            th(scope='col') Precio
                            th(scope='col') Foto
                    tbody
                        each item in products
                            tr 
                                td= item.title
                                td $#{item.price}
                                td
                                    img(src='uploads/'+item.thumbnail)        
