<div class="p-5 bg-light">
<h2 class="mb-5">Centro de Mensajes</h2>
    <form id="chat">
        <input class="form-control" type="email" id="email" name="email" placeholder="Ingresa tu email..." required>
        <hr>
        <ul class="mensajes">
            {{#each messages}}
            <li>
                <span class="email">{{this.email}}</span> 
                <time>[{{this.date}}]</time> 
                <span class="mensaje">{{this.message}}</span>
            </li>
            {{/each}}
        </ul>
        <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <input class="form-control" type="text" id="message" name="message" placeholder="Ingresa un mensaje...">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar!</button>
            </div>
        </div>
    </form>
</div>